<div class="parchment-letter">
    <div style="text-align: right;">Data: 19 de Outubro de 1902</div>
    <div class="letter-body" style="margin-top: 20px;">
        <p>Caro Amigo,</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        <p style="text-align: right; margin-top: 40px;"><em>Atenciosamente,<br>Seu Aliado</em></p>
    </div>
</div>
